html, body {margin: 0; padding: 0}
body {background: gray; overflow: hidden}
form {margin: 0; padding: 0}

#canvas {height: 100%; width: 100%; position: absolute}

.readonly-mode #sidebar {display: none}
.readonly-mode {padding-right: 0}

body {padding-right: 202px}
#sidebar {position: fixed; top: 0; bottom: 0; right: 0; width: 200px; background: white; border-left: black 2px solid; z-index: 100; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 0 0.3em; font-size: 11px; overflow: auto}

/* #canvas > .map-canvas > .map-grid > .map-grid-cell */

/* 1em is a cell size */
.map-canvas {/* js sets the size in `em`, font-size here acts az a zoom level */ position: absolute; font-size: 42px; border: 2px black solid;}
.map-grid {position: absolute; height: 100%; width: 100%;}
.map-grid-cell {position: absolute; width: 1em; height: 1em;}

/* .map-grid-cell:hover {background: red; opacity: 0.4} hover won't work because we have token layer above the grid */
/* we can make the border glow properly by trickery:
 * half of the border must be on the outside (border-color)
 * and other half on the inside (background, inner block, etc)
 * otherwise the border will not be calculated correctly
 */


/*
z-index levels:
0 = map
5 = interface shapes underneath tokens (e.g. movement arrow)
10..49 = tokens
50 = interface shapes over tokens
100 = sidebar
*/
.map-grid {z-index: 0}
.fog-of-war {z-index: 3}
.under-tokens {z-index: 5}
.token {z-index: 10}
.over-tokens {z-index: 50}

.tokens {position: absolute; height: 100%; width: 100%;}
	.token {position: absolute}
		.token-body {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; height: 100%; width: 100%; font-size: 80%; text-align: center; vertical-align: middle; border-radius: 50%; border: 0.1em silver solid; font-family: serif; cursor: default}
	.token-name {font-size: 0.17em; position: absolute; bottom: 0; left: 0; right: 0; text-align: center;}
		.token-name span {background: ivory; border: 1px gray solid; border-radius: 0.35em; color: black; padding: 0 0.3em; font-family: sans-serif}
		.hp-max     span {background: #00a500;}
		.hp-high    span {background: #008500;}
		.hp-medium  span {background: #e0b309;}
		.hp-low     span {background: #e8220f;}
		.hp-awful   span {background: #7d120b; color: #ff0000;}
	.token-counter {position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-align: center; display: table-cell; vertical-align: middle; opacity: 0.7}
		.token-counter span {position: absolute; top: 17%; bottom: 17%; left: 10%; right: 10%; font-size: 0.5em; background: ivory; border: 1px black solid; border-radius: 0.35em; color: black; font-family: sans-serif; padding: 0 0.1em;}
	.token-badges {position: absolute; left: 0; width: 100%; top: 0; height: 0.77em;}
		.token-badge {float: right; width: 0.33em; height: 0.33em}

/* zoom levels (applied to .map-canvas) */
.map-zoom-out .token-name {display: none}
.map-zoom-out .token-badges {height: 1em}

.map-zoom-in {}

.map-zoom-microscope .token-name {font-size: 0.12em}
.map-zoom-microscope .token-badges {height: 0.84em}
.map-zoom-microscope .token-badge {float: right; width: 0.15em; height: 0.25em; width: 0.25em}


.token-selected .token-body {border-color: #00bfff}



.map-canvas *, #token-library * {-moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none;}


.drawer {border: 1px gray solid; border-radius: 0.5em; padding: 0.2em; margin: 0.5em 0}
	.drawer-title {font-weight: bold; margin-bottom: 0.3em}

#log-drawer {max-height: 200px; overflow: auto}

.keyboard-shortcut {border: 1px silver solid; border-radius: 15%; background: ivory; padding: 0 0.1em; cursor: pointer; min-width: 2.6em}
	.keyboard-shortcut:hover {background: #e8e8db}

.token-library-cell {display: inline-block; position: relative; font-size: 50px; width: 55px; height: 55px; margin: 3px}
.token-library-group-name {font-weight: bold}



.character-editor {margin: 0.5em 0}
	.character-editor .character-name {font-weight: bold; font-size: 130%; padding-bottom: 3px}
	.character-editor .prefix {width: 50px; display: inline-block}
	.character-editor label:hover {background: #c6c6c6 }

	.item-editor {border-left: 2px blue solid; padding-left: 0.2em; margin: 0.2em 0;}
	.item-editor.item-is-weapon {border-color: maroon;}
		.item-editor .item-name {font-weight: bold}

	input.number {width: 50px}

	.stats-3column label {display: inline-block; width: 29%; height: 22px; position: relative; margin-right:4%}
		.stats-3column label span {float: left; width: 32%; line-height: 22px;}
		.stats-3column input {float: right; width: 20px;}

	.editor-character-stats {display: none}
	.show-character-stats .editor-character-stats {display: block}
	.show-character-stats .show-character-stats-link {display: none}

	.editor-hp {border: 1px black solid; border-radius: 0.3em; position: relative; height: 1.3em; font-size: 120%; font-weight: bold}
		.editor-hp .ruler {position: absolute; left: 0; top: 0; bottom: 0}
		.editor-hp .text {position: absolute; width: 100%; text-align: center; display: block; background: transparent !important;}

	.show-character-stats-link, .stats-3column > div {margin-bottom: 0.3em}

	.editor-damage {margin-top: 0.3em}

.js-link {text-decoration: none; border-bottom: 1px dotted}
